@import "tailwindcss";

@theme {
  --font-mono: var(--font-mono);
  --font-geist: var(--font-geist);
}

:root {
  --unit: 0.25rem;
}

@layer utilities {
  .bg-grid-pattern {
    background-size: 3rem 3rem;
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.03) 0.0625rem, transparent 0.0625rem),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 0.0625rem, transparent 0.0625rem);
    background-position: center center;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
