.Contact__Headline {
  opacity: 0.5;
  line-height: var(--text-xs--line-height);
  text-transform: uppercase;
  font-family: var(--font-mono);
  font-size: var(--text-xs);
  letter-spacing: var(--tracking-widest);
}

.Contact__Link {
  display: flex;
  flex-direction: column;
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: var(--default-transition-duration);
  line-height: var(--text-4xl--line-height);
  font-size: var(--text-4xl);
  font-weight: 800;
  letter-spacing: var(--tracking-tighter);
  text-box: trim-both cap alphabetic;
}

@media (width >= 48rem) {
  .Contact__Link {
    font-size: var(--text-6xl);
    line-height: var(--text-6xl--line-height);
  }
}

@media (width >= 64rem) {
  .Contact__Link {
    font-size: var(--text-8xl);
    line-height: var(--text-8xl--line-height);
  }
}

.Contact__Link__Line {
  --scaleX: 0;

  transform: scaleX(var(--scaleX));
  transform-origin: left center;
  transition: transform calc(2 * var(--default-transition-duration)) var(--default-transition-timing-function);
  background: currentColor;
  width: 100%;
  height: calc(var(--unit) * 1);
}

.Contact__Link:hover .Contact__Link__Line {
  --scaleX: 1;
}