.Container,
.ContainerFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: calc(var(--unit) * var(--gap));
  margin-inline: auto; 
  padding-inline: calc(var(--unit) * 4);
  padding-block: calc(var(--unit) * 32);
  width: 100%; 
  max-width: var(--container-7xl);
  height: 100%; 
}

.ContainerFooter {
  padding-block: calc(var(--unit) * 4);
}