.JordBanner__PlanetWrapper {
  --right: 0;
  --opacity: 0.4;
  --width: 100%;
  
  position: absolute;
  top: -20%;
  right: var(--right);
  bottom: -20%;
  z-index: 0;
  opacity: 0.4;
  width: var(--width);
  pointer-events: none;
}

@media (width >= 48rem) {
  .JordBanner__PlanetWrapper {
    --right: -10%;
    --opacity: 1;
  }
}

@media (width >= 64rem) {
  .JordBanner__PlanetWrapper {
    --width: 60%;
  }
}

.JordBanner__Title {
  --line-height: var(--text-4xl--line-height);
  --font-size: var(--text-4xl);

  line-height: var(--line-height);
  font-size: var(--font-size);
  font-weight: 800;
  letter-spacing: var(--tracking-tighter);
  text-box: trim-both cap alphabetic;
}

@media (width >= 48rem) {
  .JordBanner__Title {
    --line-height: var(--text-6xl--line-height);
    --font-size: var(--text-6xl);
  }
}

@media (width >= 64rem) {
  .JordBanner__Title {
    --line-height: var(--text-8xl--line-height);
    --font-size: var(--text-8xl);
  }
}

.JordBanner__Text {
  --line-height: var(--text-sm--line-height);
  --font-size: var(--text-sm);
  
  opacity: 0.75;
  max-width: var(--container-2xl);
  line-height: var(--line-height);
  font-size: var(--font-size);
}

@media (width >= 48rem) {
  .JordBanner__Text {
    --line-height: var(--text-lg--line-height);
    --font-size: var(--text-lg);
  }
}