.NavItem {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: calc(var(--unit) * 20);
  height: calc(var(--unit) * 6);
  text-transform: uppercase;
  font-family: var(--font-mono);
  letter-spacing: var(--tracking-widest);
}

.NavItem__Label {
  --opacity: 0;

  position: absolute;
  right: 100%;
  transition: opacity var(--default-transition-duration) var(--default-transition-timing-function);
  opacity: var(--opacity);
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
  white-space: nowrap ;
}

.NavItem:hover .NavItem__Label {
  --opacity: 1;
}

.NavItem__Indicator {
  background: var(--color-white);
  transition: 
    transform calc(var(--default-transition-duration) / 2) var(--default-transition-timing-function), 
    opacity calc(var(--default-transition-duration) / 2) var(--default-transition-timing-function);
  transform-origin: right center;
  width: calc(var(--unit) * 6);
  height: 0.1875rem;
}