.Section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.Section__Content,
.Sculpture {
  grid-area: 1 / 1 / 1 / 1;
}

.Section__Content {
  z-index: 1;
  position: relative;
}