.GridWrapper {
  --border-width: 0.0625rem;
  --border-color: hsl(from var(--color-white) h s l / 10%);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-top: var(--border-width) solid var(--border-color);
  border-left: var(--border-width) solid var(--border-color);
}

.Grid {
  --cols: 3;

  display: grid;
  grid-area: 1 / 1 / 1 / 1;
  grid-template-columns: repeat(var(--cols), 1fr);
}

@media screen and (max-width: 52em) {
  .Grid {
    --cols: 2;
  }
}

@media screen and (max-width: 32em) {
  .Grid {
    --cols: 1;
  }
}